body {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.logo img {
    width: 100px;
}

.hockey-image img {
    max-width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    .container {
        padding: 10px;
    }

    .logo img {
        width: 70px;
    }
}
